PUSHOVER_USER_KEY=uxb8y8mdp2a5iaax7w8p7yndiudrzb
PUSHOVER_APP_TOKEN=apaoi2jid6pkucmbmvuk4sntmhzpjf
GATEWAY_AUTH_TOKEN=
REMINDER_TZ=America/Sao_Paulo
REMINDER_DB_PATH=reminders.db
PORT=8000
HOST=0.0.0.0
